<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JSP_Example_41</display-name>

	<context-param>

		<param-name>upload_dir</param-name>

		<param-value>

			uploaded_files

		</param-value>

	</context-param>


	<servlet>

		<servlet-name>LoginServlet</servlet-name>

		<servlet-class>servlet.LoginServlet</servlet-class>

	</servlet>

	<servlet>

		<servlet-name>FileUploadServlet</servlet-name>

		<servlet-class>servlet.FileUploadServlet</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>LoginServlet</servlet-name>

		<url-pattern>/</url-pattern>

	</servlet-mapping>

	<servlet-mapping>

		<servlet-name>FileUploadServlet</servlet-name>

		<url-pattern>/FileUploadServlet</url-pattern>

	</servlet-mapping>


</web-app>